<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huan.capture">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />


    <application
        android:name="com.huan.capture.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.huan.capture.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.huan.capture.ClientActivity" />
        <activity
            android:name="com.huan.capture.TVActivity"
            android:screenOrientation="landscape" />

        <activity android:name="com.huan.capture.OldClientActivity" />
        <activity android:name="com.huan.capture.OldClientActivityV2" />

        <activity android:name=".ScreenActivity" />
        <activity android:name=".QRCodeScanActivity" />
        <activity android:name=".WebviewActivity" />

        <service
            android:name=".ScreenCaptureService"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".ScreenVideoSourceService"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".sr.ScreenVideoSourceService"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".accessibility.AuxiliaryService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_click_auxiliary" />
        </service>
    </application>

</manifest>